Repository JuliaDocs/Documenter.jl, pull requests merged in 2020-08, with the labels that each got.

#1369 Doctest output starting with #
  CHANGELOG.md
  src/DocTests.jl
  test/doctests/src/working.md
Labels: Type: Bug

#1383 Add `LiveServer.jl` as an option for running a local web server
  docs/src/man/guide.md
Labels: Type: Documentation

#1384 Merge nested li statements in SCSS
  assets/html/scss/documenter/layout/_sidebar.scss
Labels: Format: HTML, Type: Maintenance

#1385 Use shorter LiveServer invocation in docs
  docs/src/man/guide.md
Labels: Type: Documentation

#1386 Simplify some SCSS styles
  assets/html/scss/darkly/_overrides.scss
  assets/html/scss/documenter/components/_admonition.scss
  assets/html/scss/documenter/layout/_search.scss
Labels: Format: HTML, Type: Maintenance

#1367 MathJax3 support
  CHANGELOG.md
  src/Documenter.jl
  src/Writers/HTMLWriter.jl
  test/examples/make.jl
  test/examples/src/man/tutorial.md
  test/examples/tests.jl
Labels: Format: HTML, Type: Enhancement

#1388 Retire zeptodoctor
  CHANGELOG.md
  src/Documenter.jl
Labels: Type: Enhancement

#1389 Work around 1.5 & nightly test failures
  .github/workflows/linkcheck.yml
  .travis.yml
  CHANGELOG.md
  src/DocTests.jl
Labels: Type: Maintenance, Type: Tests

#1396 Move latexinline out of if-else-end
  src/Writers/LaTeXWriter.jl
Labels: Format: LaTeX, Type: Maintenance

#1395 Simplify assets/mkdocs/Documenter.css
  assets/mkdocs/Documenter.css
Labels: Format: Markdown, Type: Maintenance

#1398 Fix the nightly tests
  .appveyor.yml
  test/doctests/doctests.jl
  test/doctests/fix/broken.jl
  test/doctests/fix/broken.md
  test/doctests/fix/fixed.jl
  test/doctests/fix/fixed.md
  test/doctests/fix/tests.jl
  test/htmlwriter.jl
Labels: Type: Maintenance, Type: Tests

#1392 Correct render code block with tag "```julia-repl XXX"
  src/Writers/LaTeXWriter.jl
Labels: Format: LaTeX, Type: Bug

#1400 Refactor and test code language determination
  CHANGELOG.md
  src/Utilities/Utilities.jl
  src/Writers/HTMLWriter.jl
  src/Writers/LaTeXWriter.jl
  test/examples/src.latex_simple/index.md
  test/examples/src/index.md
  test/examples/tests.jl
  test/utilities.jl
Labels: Format: HTML, Format: LaTeX, Type: Maintenance

#1405 Clarify missing docstrings warning/error
  src/DocChecks.jl
Labels: Type: Enhancement

#1407 Clarify the docstring of lang keyword
  src/Writers/HTMLWriter.jl
Labels: Type: Documentation

#1399 Add example of code coverage to docs
  docs/src/man/hosting.md
Labels: Type: Documentation
