Repository JuliaDocs/Documenter.jl, pull requests merged in 2021-07, with the labels that each got.

#1626 Fix a link to JuliaDocs landing page
  docs/src/man/examples.md
Labels: Type: Documentation

#1441 Add support for ANSI colors
  CHANGELOG.md
  Project.toml
  assets/html/scss/documenter-dark.scss
  assets/html/scss/documenter-light.scss
  assets/html/scss/documenter/_ansicolors.scss
  assets/html/themes/documenter-dark.css
  assets/html/themes/documenter-light.css
  docs/make.jl
  docs/src/man/syntax.md
  docs/src/showcase.md
  src/Expanders.jl
  src/Utilities/Utilities.jl
  src/Writers/HTMLWriter.jl
  src/Writers/LaTeXWriter.jl
  src/Writers/MarkdownWriter.jl
Labels: Format: HTML, Type: Feature

#1625 Fix escaping of dollar symbols in HTMLWriter
  CHANGELOG.md
  src/Writers/HTMLWriter.jl
  test/examples/src/index.md
  test/examples/tests.jl
  test/htmlwriter.jl
Labels: Format: HTML, Type: Bug

#1628 Fix ANSI colors for `@repl` blocks
  CHANGELOG.md
  src/Documents.jl
  src/Expanders.jl
  src/Writers/HTMLWriter.jl
  src/Writers/LaTeXWriter.jl
  src/Writers/MarkdownWriter.jl
Labels: Format: HTML

#1633 Remove trace of sandbox module in output for at-repl and at-example.
  CHANGELOG.md
  src/Expanders.jl
  test/examples/src/index.md
Labels: Type: Enhancement

#1634 Insert correct linenumbernodes
  CHANGELOG.md
  src/Expanders.jl
  src/Utilities/Utilities.jl
  test/examples/make.jl
  test/examples/src/linenumbers.md
  test/examples/tests.jl
Labels: Type: Enhancement

#1627 Support prerendering of code blocks.
  .github/workflows/CI.yml
  .gitignore
  CHANGELOG.md
  src/Writers/HTMLWriter.jl
  test/prerender/Project.toml
  test/prerender/prerender.jl
  test/prerender/src/index.md
Labels: Format: HTML, Type: Feature

#1641 Theme the `julia>` prompt in the `julia-repl` language
  CHANGELOG.md
  assets/html/scss/documenter-dark.scss
  assets/html/scss/documenter-light.scss
  assets/html/scss/documenter/_patches.scss
  assets/html/themes/documenter-dark.css
  assets/html/themes/documenter-light.css
Labels: Format: HTML

#1645 Add hljs class to all code blocks
  CHANGELOG.md
  src/Writers/HTMLWriter.jl
  test/prerender/prerender.jl
Labels: Format: HTML

#1654 Update license format
  LICENSE.md
Labels: Type: Maintenance

#1656 Enhance debugging
  src/Expanders.jl
Labels: Type: Maintenance
