Repository JuliaDocs/Documenter.jl, pull requests merged in 2022-09, with the labels that each got.

#1919 Restrict the type of the last expression in at-eval blocks
  CHANGELOG.md
  docs/src/man/syntax.md
  src/Documents.jl
  src/Expanders.jl
  test/examples/src/man/tutorial.md
Labels: Type: Maintenance, Type: Documentation, Type: Breaking

#1912 Use a MarkdownAST-based tree in LaTeXWriter
  src/Anchors.jl
  src/Documents.jl
  src/Writers/LaTeXWriter.jl
Labels: Type: Maintenance, Format: LaTeX

#1935 Change styling of code blocks in LaTeXWriter
  CHANGELOG.md
  assets/latex/documenter.sty
Labels: Type: Enhancement, Format: LaTeX

#1941 Fix render-this example in LaTeX showcase
  test/examples/references/latex_showcase.tex
  test/examples/src.latex_showcase/showcase.md
Labels: Type: Tests, Format: LaTeX

#1942 Add SymbolicRegression.jl to examples list
  docs/src/man/examples.md
Labels: Type: Documentation

#1932 Style admonitions with tcolorbox in LaTeXWriter
  CHANGELOG.md
  assets/latex/documenter.sty
  src/Writers/LaTeXWriter.jl
  test/examples/references/latex_showcase.tex
  test/examples/references/latex_simple.tex
Labels: Type: Enhancement, Format: LaTeX

#1924 Use a MarkdownAST-based tree in HTMLWriter
  CHANGELOG.md
  src/Documents.jl
  src/Utilities/MDFlatten.jl
  src/Utilities/Utilities.jl
  src/Writers/HTMLWriter.jl
  test/examples/src/index.md
  test/examples/src/man/tutorial.md
  test/htmlwriter.jl
  test/mdflatten.jl
  test/utilities.jl
Labels: Type: Maintenance, Format: HTML, Type: Bugfix

#1940 Issue a more helpful warning if #output contains trailing whitespace in doctest
  src/DocTests.jl
Labels: Type: Enhancement

#1948 Use MarkdownAST throughout Documenter
  CHANGELOG.md
  Project.toml
  src/CrossReferences.jl
  src/DocChecks.jl
  src/Documents.jl
  src/Expanders.jl
  src/Utilities/Utilities.jl
  src/Writers/HTMLWriter.jl
  src/Writers/LaTeXWriter.jl
  src/Writers/Writers.jl
  test/pipeline.jl
  test/utilities.jl
Labels: Type: Maintenance, Type: Bugfix

#1895 Changed REPL.softscope! to REPL.softscope in Expanders and DocTests
  src/DocTests.jl
  src/Expanders.jl
Labels: Type: Maintenance

#1951 Update TagBot workflow
  .github/workflows/TagBot.yml
Labels: Type: Maintenance

#1937 Wrap tabular environments in adjustbox to resize to page width
  CHANGELOG.md
  src/Writers/LaTeXWriter.jl
  test/examples/references/latex_showcase.tex
  test/examples/references/latex_simple.tex
  test/examples/src.latex_showcase/showcase.md
Labels: Type: Enhancement, Format: LaTeX

#1938 Improve styling of tables in LaTeXWriter
  assets/latex/documenter.sty
  src/Writers/LaTeXWriter.jl
  test/examples/references/latex_showcase.tex
  test/examples/src.latex_showcase/showcase.md
Labels: Type: Enhancement, Format: LaTeX

#1954 Small style tweaks to LaTeXWriter
  src/Writers/LaTeXWriter.jl
  test/examples/references/latex_showcase.tex
  test/examples/references/latex_simple.tex
Labels: Type: Enhancement, Format: LaTeX

#1956 Make code block styling in LaTeXWriter consistent with HTML
  CHANGELOG.md
  assets/latex/documenter.sty
  src/Writers/LaTeXWriter.jl
  test/examples/references/latex_showcase.tex
Labels: Type: Enhancement, Format: LaTeX

#1955 Fix title margin of admonitions in LaTeXWriter
  CHANGELOG.md
  src/Writers/LaTeXWriter.jl
  test/examples/references/latex_showcase.tex
  test/examples/references/latex_simple.tex
Labels: Format: LaTeX, Type: Bugfix
