Repository JuliaDocs/Documenter.jl, pull requests merged in 2022-04, with the labels that each got.

#1783 Added QuizQuestion to README
  README.md
Labels: Type: Documentation

#1784 Fix JuliaMono CSS to support all weights/variants
  CHANGELOG.md
  src/Writers/HTMLWriter.jl
Labels: Type: Enhancement, Format: HTML

#1787 Fix issue link references in CHANGELOG.md
  CHANGELOG.md
Labels: Type: Documentation

#1794 `TimeMachine.jl` -> `ClimaTimeSteppers.jl`
  docs/src/man/hosting.md
Labels: Type: Documentation

#1788 [TeX] Allow custom preamble
  .github/workflows/CI.yml
  CHANGELOG.md
  assets/latex/preamble.tex
  docs/src/man/other-formats.md
  src/Writers/LaTeXWriter.jl
  test/examples/make.jl
  test/examples/src.cover_page/assets/cover.png
  test/examples/src.cover_page/assets/preamble.tex
  test/examples/src.cover_page/assets/titlepage.tex
  test/examples/src.cover_page/index.md
  test/examples/src.toc_style/assets/default-customized.png
  test/examples/src.toc_style/assets/preamble.tex
  test/examples/src.toc_style/index.md
  test/examples/tests_latex.jl
Labels: Type: Enhancement, Format: LaTeX

#1796 Fix outdated GitHub Docs links
  CHANGELOG.md
  docs/make.jl
  docs/src/contributing.md
  docs/src/man/hosting.md
  src/DocChecks.jl
  src/Utilities/JSDependencies.jl
  src/deployconfig.jl
Labels: Type: Documentation, Type: Bugfix

#1795 Add version option to LaTeX format
  .github/workflows/CI.yml
  CHANGELOG.md
  assets/latex/preamble.tex
  src/Writers/LaTeXWriter.jl
  test/examples/make.jl
  test/examples/src.cover_page/assets/preamble.tex
  test/examples/src.cover_page/assets/titlepage.tex
  test/examples/src.toc_style/assets/preamble.tex
  test/examples/tests_latex.jl
Labels: Type: Enhancement, Format: LaTeX

#1803 LaTeX: add `tectonic`
  .github/workflows/CI.yml
  CHANGELOG.md
  docs/src/man/other-formats.md
  src/Writers/LaTeXWriter.jl
  test/examples/make.jl
  test/examples/tests_latex.jl
Labels: Type: Feature, Format: LaTeX

#1807 Fix linkcheck (again)
  CHANGELOG.md
  src/DocChecks.jl
Labels: Type: Bugfix

#1805 Update the warning for dev version docs
  CHANGELOG.md
  assets/html/warner.js
Labels: Type: Enhancement, Format: HTML
