Repository JuliaDocs/Documenter.jl, pull requests merged in 2023-06, with the labels that each got.

#2125 docs: run build with clean=true
  docs/make.jl
Labels: Type: Maintenance

#2140 Document the conditions under which index.html is created at site root.
  src/deploydocs.jl
Labels: Type: Documentation

#2145 Fix deprecation warning in SCSS compilation
  .github/workflows/CI.yml
  CHANGELOG.md
  assets/html/scss/documenter-dark.scss
  assets/html/themes/documenter-dark.css
Labels: Format: HTML, Type: Bugfix

#2157 feat: compress css
  CHANGELOG.md
  assets/html/themes/documenter-dark.css
  assets/html/themes/documenter-light.css
  docs/instantiate.jl
Labels: Type: Enhancement, Format: HTML
